<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="utilization:serilog:using:ColoredConsole" value ="Serilog.Sinks.ColoredConsole"/>
    <add key="utilization:serilog:write-to:ColoredConsole"/>
    <add key="utilization:serilog:write-to:Email.restrictedToMinimumLevel" value="Verbose" />
    <add key="utilization:serilog:write-to:ColoredConsole.outputTemplate" value="{Message}"/>

    <add key="error:serilog:using" value="Serilog.Sinks.Elasticsearch"/>
    <add key="error:serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200"/>
    <add key="error:serilog:write-to:Elasticsearch.autoRegisterTemplate" value="true"/>


    <add key="error:serilog:using:File" value ="Serilog.Sinks.File"/>
    <add key="error:serilog:write-to:File.path" value ="log.json"/>
    <add key="error:serilog:write-to:File.formatter" value="Serilog.Sinks.Elasticsearch.ElasticsearchJsonFormatter, Serilog.Sinks.Elasticsearch" />    
  </appSettings>
</configuration>